.app-container {
  font-family: "Roboto", serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr 70px;
  height: 100vh;
  grid-template-areas:
    "header  header"
    "nav    main"
    "empty footer";
}

.header-container {
  grid-area: header;
  display: grid;
  grid-template-columns: 250px 1fr;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.logo {
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.user-settings-container {
  grid-column: 2;
  display: inline-flex;
  flex-direction: row;
  justify-self: flex-end;
  padding: 0.5em;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 0.6;
}

.user-settings-container > p {
  margin-right: 10px;
}

.user-settings-container:hover {
  opacity: 1;
}

.user-icon {
  max-height: 50px;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.side-nav-bar {
  grid-area: nav;
  display: flex;
}

.nav-bar-container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 15px;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}
.nav-item {
  padding: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.main-container {
}

.dash-header {
  text-align: center;
}

.dash-container {
  display: flex;
  flex-wrap: wrap;
}

.card-small {
  width: 25%;
  margin: 2em;
  padding: 0.5em;
  box-shadow: 3px 3px 5px 6px rgb(202, 202, 202);
}
.card-medium {
  width: 44%;
  margin: 2em;
  padding: 0.5em;
  box-shadow: 3px 3px 5px 6px rgb(202, 202, 202);
}
.card-large {
  margin: 2em;
  padding: 0.5em;
  box-shadow: 3px 3px 5px 6px rgb(202, 202, 202);
}

.footer-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Begin Media Queries */
@media screen and (max-width: 768px) {
  .app-container {
    font-family: "Roboto", serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 5fr 70px;
    height: 100vh;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  .side-nav-bar {
    grid-area: nav;
    display: flex;
  }
  .card-small {
    width: 100%;
  }
  .card-medium {
    width: 100%;
  }
  .card-large {
    width: 100%;
  }
}
